@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the ToDo App</h1>
    <p><a asp-area="" asp-controller="ToDo" asp-action="Index">Click here</a> to see your entries and make changes.</p>
    <img src="~/images/App.png" />
</div>
