html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-check {
    border-bottom: 0.5px solid #ced4da;
    padding-bottom: 10px;
}

.delete-button {
    display: block;
    font-size: 11px;
    margin-left: auto;
}